.LexicalEditorTheme__ul {
  list-style: disc;
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.LexicalEditorTheme__ol1 {
  list-style: decimal;
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.LexicalEditorTheme__ol2 {
  list-style: lower-alpha;
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.LexicalEditorTheme__ol3 {
  list-style: lower-roman;
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.LexicalEditorTheme__ol4,
.LexicalEditorTheme__ol5 {
  list-style: decimal;
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.LexicalEditorTheme__listItem {
  margin: 0.25rem 0;
}

.LexicalEditorTheme__nestedListItem {
  list-style: none;
}
